button {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
  /* border: 3px solid #714E2D; */
  padding: 5px;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

input {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
  /* border: 3px solid #714E2D; */
  padding: 5px;
}